<launch>
 <node name="tf_broadcaster" pkg="hybrid_astar" type="tf_broadcaster" />
 <node name="occupancy_server" pkg="grid_map_demos" type="occupancy_server.py" args="$(find hybrid_astar)/maps/occ-map-2019-07-17-10:42:18.yaml" />
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hybrid_astar)/launch/config.rviz" />
</launch>
